.form input[type="text"] {
  width: 100%;
  background-color: transparent;
  border: none;
  padding: 0.6rem 0;
}

.form input:focus {
  outline: 0;
}

.formElement {
  max-width: 100%;
  margin-bottom: 0.5rem;
}

.todoInputField {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
