.wrapper {
  max-width: 400px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  width: 80%;
  margin: 0 auto;
  padding: 4rem 2rem;
  background-color: var(--primary-color);
  border-radius: 0.625rem;
}

.form input {
  border: 0;
  border-radius: 0.625rem;
  display: block;
  width: 100%;
  padding: 0.7rem 1rem;
  margin-bottom: 1rem;
}

.form input:focus {
  outline: 0;
}
