.btn {
  display: inline-block;
  padding: 0.7rem 1.5rem;
  background-color: var(--accent-color);
  color: var(--light-color);
  cursor: pointer;
  text-decoration: none;
  border: 0;
  border-radius: 0.625rem;
}

.btnFull {
  display: block;
  width: 100%;
}

.btn:focus {
  outline: 0;
}
