.card {
  position: relative;
  padding: 1rem;
  background-color: var(--light-color);
  box-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.6);
  border-radius: 0.625rem;
  min-height: 3rem;
  height: 16rem;
  overflow-x: hidden;
  overflow-y: auto;
  user-select: none;
}

.flex {
  display: flex;
  flex-direction: column;
}
