.todo {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.input {
  padding: 0.6rem;
  margin-left: 0.5rem;
  border: 0;
  background-color: transparent;
}
.input:focus {
  outline: 0;
}

.done {
  text-decoration: line-through;
  color: #c4c4c4;
}

.deleteBtn {
  opacity: 0;
  display: block;
  border: 0;
  cursor: pointer;
  text-decoration: none;
  background-color: transparent;
  color: var(--accent-color);
  font-size: 0.875rem;
  transition: opacity 0.5s ease;
  margin-left: auto;
}

.todo:hover .deleteBtn {
  opacity: 1;
}
