.todo {
  display: flex;
  align-items: center;
}

.input {
  margin-left: 1rem;
}

.done {
  text-decoration: line-through;
  color: #c4c4c4;
}

.deleteBtn {
  display: none;
}

.todo:hover .deleteBtn {
  display: block;
  border: 0;
  cursor: pointer;
  text-decoration: none;
  background-color: transparent;
  color: var(--accent-color);
  font-size: 0.875rem;
}
