@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

:root {
  --primary-color: #3d348b;
  --accent-color: #2e382e;
  --light-color: #faf3dd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

ul {
  list-style-type: none;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}
